body {
    background-color: yellow;
    background-image: url('https://img.okezone.com/content/2019/10/08/65/2114378/asal-usul-dinosaurus-apakah-berbulu-seperti-burung-rdpNV4VpSV.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}